@font-face {
    font-family: 'Heebo';
    src: url("../assets/fonts/Heebo-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url("../assets/fonts/Heebo-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url("../assets/fonts/Yantramanav-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-dark-grey: #404040;
    --color-light-grey: #C4C4C4;

    --border-radius: 30px;
    --border: 1px solid var(--color-light);

    --font-family-base: 'Heebo', sans-serif;
    --font-family-accent: 'Yantramanav', sans-serif;

    --input-height: 54px;
    --container-width: 1300px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;
}

body {
    font-family: var(--font-family-base);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: var(--color-light-grey);

    background-color: var(--color-dark);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
}