@font-face {
    font-family: 'Heebo';
    src: url("../assets/fonts/Heebo-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url("../assets/fonts/Heebo-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url("../assets/fonts/Yantramanav-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-dark-gray: #404040;
    --color-light-gray: #C4C4C4;

    --border-radius: 30px;
    --border: 1px solid var(--color-light);

    --font-family-base: 'Heebo', sans-serif;
    --font-family-accent: 'Yantramanav', sans-serif;

    --input-height: 54px;
    --container-width: 1300px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;
}

body {
    font-family: var(--font-family-base);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: var(--color-light-gray);

    background-color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: var(--color-light)
}

a:hover {
    color: var(--color-light-gray);
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
}

.button {
    display: inline-flex;
    align-items: center;
    height: 38px;
    padding-inline: 27px;
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: var(--color-light);
    border: none;
    border-radius: var(--border-radius);
}

.button:hover {
    background-color: var(--color-light-gray);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding-inline: 32px;
}

.header-logo {
    flex-shrink: 0;
}

.header-menu-list {
    display: flex;
    column-gap: 50px;
    flex-wrap: wrap;
}

.header-menu-link {
    display: inline-flex;
    align-items: center;
    column-gap: 7px;
    height: 90px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.header-menu-link.is-current::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: currentColor;
    border-radius: 50%;
}

.header-actions {
    display: flex;
    column-gap: 39px;
}

.header-burger-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    padding-left: 8px;
    color: var(--color-light);
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
}

.header-burger-button:hover {
    color: var(--color-light-gray);
    border-color: currentColor;
}

.header-burger-button-line {
    width: 6px;
    height: 1px;
    background-color: currentColor;
    box-shadow: 16px 0 0 currentColor;
}

@media (max-width: 1024px) {
    .header {
        flex-wrap: wrap;
        padding-top: 20px;
        row-gap: 10px;
        padding-inline: 15px;
    }

    .header-menu {
        order: 1;
        flex-basis: 100%;
    }

    .header-menu-link {
        height: 50px;
    }
}

@media (max-width: 767px) {
    .button {
        padding-inline: 18px;
    }

    .header {
        padding-top: 10px;
    }

    .header-menu-list {
        column-gap: 24px;
    }

    .header-menu-link {
        height: 32px;
    }

    .header-actions {
        column-gap: 15px;
    }
}